.menu {
  margin-top: 3rem;
  margin-bottom: 6rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  width: 100%;
}

.logoContainer {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.line {
  flex-grow: 1;
  background-color: #979797;
  height: 1px;
}

.menu-list {
  padding-left: 8rem;
  padding-right: 10rem;
  display: flex;
  gap: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2.7px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(20px);
}

.menu-list a > span {
  display: block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bold {
  font-weight: 600;
}

.active {
  border-bottom: #ffffff 4px solid;
}

.not-moon {
  padding-bottom: 3rem;
}
