:root {
  --main-font: "Bellefair", serif;
  --second-font-regular: "Barlow", sans-serif;
  --second-font-condensed: "Barlow Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.role {
  font-family: var(--main-font);
  font-size: 32px;
  /* opacity: 0.5; */
  color: rgba(255, 255, 255, 0.5);
}

.name {
  font-family: var(--main-font);
  font-size: 56px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.bio {
  width: 444px;
  font-family: var(--second-font-regular);
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

@media only screen and (max-width: 1280px) {
  .bio {
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .role {
    font-size: 16px;
  }

  .name {
    font-size: 24px;
  }

  .bio {
    font-size: 15px;
    width: 75vw;
  }
}
