.background {
  background-image: url("/crew/background-crew-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 4.72px;
  font-size: 28px;
}

.crew-menu {
  display: flex;
  gap: 2rem;
}

.option {
  width: 15px;
  height: 15px;
  background-color: #979797;
  border-radius: 50%;
}

.active {
  background-color: #ffffff;
}
