.background {
  background-image: url("/crew/background-crew-desktop.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100rem;
  /* min-height: 100vh; */
  margin: 0 auto;
  padding-top: 15rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 4.72px;
  font-size: 28px;
}

.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
}

.crew-menu {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.option {
  width: 15px;
  height: 15px;
  background-color: #979797;
  border-radius: 50%;
}

.active {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}

.photo {
  max-height: 70vh;
}

@media only screen and (max-width: 1280px) {
  .background {
    background-image: url("/crew/background-crew-tablet.jpg");
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .second-section {
    flex-direction: column;
    text-align: center;
  }

  .crew-menu {
    margin-bottom: 5rem;
    justify-content: center;
  }

  .title {
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
}
