.background {
  background-image: url("/destination/background-destination-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 15rem;
  margin: 0 auto;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 4.72px;
  font-size: 28px;
}

h1 span {
  color: #979797;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  margin-right: 1rem;
}

.planets-menu {
  display: flex;
  gap: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2.7px;
  font-size: 16px;
  margin-bottom: 3rem;
}

.active {
  border-bottom: #ffffff 3px solid;
  padding-bottom: 0.5rem;
}

.second-section {
  display: flex;
  gap: 8rem;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 3rem;
  margin-top: 5rem;
}
