.background {
  background-image: url("/destination/background-destination-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.layout {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 4.72px;
  font-size: 28px;
}

h1 span {
  color: #979797;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  margin-right: 1rem;
}

.planets-menu {
  display: flex;
  gap: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2.7px;
  font-size: 16px;
  margin-top: 5rem;
}

.active {
  border-bottom: #ffffff 3px solid;
  padding-bottom: 0.5rem;
}
