:root {
  --main-font: "Bellefair", serif;
  --second-font-regular: "Barlow", sans-serif;
  --second-font-condensed: "Barlow Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: 16px;
  font-family: var(--second-font-condensed);
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

.name {
  font-family: var(--main-font);
  font-size: 56px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.description {
  width: 444px;
  font-family: var(--second-font-regular);
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

@media only screen and (max-width: 1280px) {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .description {
    width: 100%;
    max-width: 55vw;
  }
}

@media only screen and (max-width: 650px) {
  .description {
    max-width: 85vw;
  }
}
