.background {
  background-image: url("/technology/background-technology-desktop.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100rem;
  padding-top: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10rem;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 4.72px;
  font-size: 28px;
}

.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
}

.main-body {
  display: flex;
}

.technology-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 5rem;
}

.option {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  border-radius: 50%;
  font-size: 32px;
}

.option:hover {
  border: 1px solid #ffffff;
}

.active {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #0b0d17;
  font-size: 32px;
  border-radius: 50%;
}

.photo {
  width: 515px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1280px) {
  .background {
    background-image: url("/technology/background-technology-tablet.jpg");
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
    padding-top: 10rem;
  }

  .title {
    margin-bottom: 3rem;
    margin-left: 4rem;
  }

  .second-section {
    flex-direction: column-reverse;
  }

  .main-body {
    flex-direction: column;
  }

  .technology-menu {
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
  }

  .photo {
    min-width: 100vw;
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .title {
    margin: 0;
    margin-bottom: 3rem;
  }
}
